<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增应聘人员信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-CandidateInfo-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">应聘时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="candiTime" class="form-control date" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">应聘职位：</label>
                <div class="col-sm-8">
                    <input name="position" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control isName" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">用户性别：</label>
                <div class="col-sm-8">
                    <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">证件号码：</label>
                <div class="col-sm-8">
                    <input name="certNo" class="form-control isIdentity" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="birthTime" class="form-control date" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年龄：</label>
                <div class="col-sm-8">
                    <input name="age" class="form-control digits" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <select name="nationType" class="form-control m-b" th:with="type=${@dict.getType('nation_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚姻状况：</label>
                <div class="col-sm-8">
                    <select name="marriage" class="form-control m-b" th:with="type=${@dict.getType('hr_marital')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <input name="telephone" class="form-control isPhone" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">首次参加工作时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="joinWorkingTime" class="form-control date" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">政治面貌：</label>
                <div class="col-sm-8">
                    <select name="politicalStatus" class="form-control m-b" th:with="type=${@dict.getType('political_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学历：</label>
                <div class="col-sm-8">
                    <select name="highestEdu" class="form-control m-b" th:with="type=${@dict.getType('highest_edu')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业院校：</label>
                <div class="col-sm-8">
                    <input name="graduateSchool" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="graduationTime" class="form-control date" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所学专业：</label>
                <div class="col-sm-8">
                    <input name="major" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">住址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<button type="submit" class="btn btn-w-m btn-primary"
						onclick="formsubmit()" id="submitbtn">提交</button>
					<button id="closebtn" type="button" class="btn btn-w-m btn-default"
						onclick="formclose()">关闭</button>
				</div>
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "hr/CandidateInfo"
        $("#form-CandidateInfo-add").validate({
            focusCleanup: true
        });

        function formsubmit() {
		    if ($.validate.form()) {
		    	$.ajax({
		            type: "POST",
		            url: prefix + "/inputsave",
		            data: $('#form-CandidateInfo-add').serialize(),// 序列化表单值
		            success: function(data) {
		            	window.location.href= prefix +'/inputsucess'
		            }
		        });
            };
		}

		function formclose() {
			var userAgent = navigator.userAgent;
			if (userAgent.indexOf("Firefox") != -1
					|| userAgent.indexOf("Chrome") != -1) // Firefox或Chrome中关闭
			{
				location.href = "about:blank";
			} else {
				window.opener = null;
				window.open(' ', '_self');
				window.close();
			}
			if (window.WeixinJSBridge) // 微信中关闭
			{
				window.WeixinJSBridge.call('closeWindow');
			}
			
		}

        $("input[name='candiTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='birthTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='joinWorkingTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='graduationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
    </script>
</body>
</html>