<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增招聘申请')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-recruit-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">申请人：</label>
				<div class="col-sm-8">
					<input type="text" name="userName" class="form-control"  onclick="selectUserTree()" id="userName"  required>
					<input type="hidden" name="userId"  id="userId">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">申请部门：</label>
				<div class="col-sm-8">
					<input name="deptName" class="form-control" type="text"  onclick="selectDeptTree()" id="treeName" required>
					<input name="deptId" id="treeId"  type="hidden">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">需求岗位：</label>
				<div class="col-sm-8">
					<input name="needPost" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">期望到岗时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input name="arrivalTime" class="form-control"
							placeholder="yyyy-MM-dd" type="text">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">需求人数：</label>
				<div class="col-sm-8">
					<input name="needPeople" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位现有人数：</label>
				<div class="col-sm-8">
					<input name="existingPeople" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位职责要求：</label>
				<div class="col-sm-8">
					<textarea name="requirements" class="form-control"></textarea>
				</div>
			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<script type="text/javascript">
		var prefix = ctx + "hr/recruit"
		$("#form-recruit-add").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/add", $('#form-recruit-add')
						.serialize());
			}
		}

		$("input[name='arrivalTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
		
		/*选择部门树*/
        function selectDeptTree() {
        	var deptId = $.common.isEmpty($("#treeId").val()) ? "1" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
		    var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			/* if ($.tree.notAllowParents(tree)) {} */
    			var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
		

		//人员树形选择器
        function selectUserTree() {
            var options = {
                title: '人员选择',
                width: "750",
                url: ctx + "system/user/selectUserTree?selectedUserIds=" + $("#userId").val() + "&selectedUserNames=" + $("#userName").val() + "&multiSelectFlag=false",
                callBack: doSelect
            };
            $.modal.openOptions(options);
        }
        
        function doSelect(index, layero){
            
            var body = layer.getChildFrame('body', index);
            
            var userIds = "";
            var userNames = "";
            body.find("#multiselect_to option").each(function(){  //遍历所有option
                var val = $(this).val();   //获取option值
                var txt = $(this).text();  //获取option的文本内容
                if(val!= '' && txt!=''){
                    userIds = userIds + val + ",";
                    userNames = userNames + txt + ",";
                }
            });
            
            userIds = userIds.substring(0,userIds.length-1);
            userNames = userNames.substring(0,userNames.length-1);
                
               $("#userId").val(userIds);
               $("#userName").val(userNames);
               layer.close(index);
        }
	</script>
</body>
</html>